
.container{margin-bottom: 100px;}
.buy-btn{background-color:black ;
color: white;
border:none ;
border-radius:10px;
padding:10px 30px ;}

.nav-item{color:black ;}


.carousel-item{padding:20px 40px;}

.card-title{ text-align: center;}
.card{border: none;
border-radius: 10px;
box-shadow:5px 5px 10px lightgray;}
.card-footer{border:none;
background-color: white;}

.one{text-align: center;
padding: 200px 30px;}

.two,.three{padding: 50px 0;}
.four img{font-size: large;
padding:100px ;
width: 100%;}







